.header {
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: var(--primaryColor);
    transition: height 0.5s ease; 
    overflow-y: hidden;

}
.fullscreen {
    height: 110vh;
    width: 100vw;  
    padding-bottom: 100px;
    margin-top: 0;
}

.shrink {
    width: 100%;  
    height: 100%;
    padding-top: 30px;
    padding-bottom: 100px;
}
.icon{
    margin-top: 0px;
    width: 12rem;
    margin-bottom: 1rem;

}
.title{
    color: var(--secondaryColor);
    font-weight: bolder;
    font-size: 6rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;

}
.p{
    color:var(--textColor);
    font-weight: bold;
    font-size: 2.1rem;
    text-align: center;
    margin-top:40px;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 1px var(--secondaryColor), 0 0 6px var(--secondaryColor), 0 0 3px var(--secondaryColor), 0 0 5px var(--secondaryColor);
    }
    10% {
        text-shadow: 0 0 2px var(--secondaryColor), 0 0 4px var(--secondaryColor), 0 0 2px var(--secondaryColor), 0 0 10px var(--secondaryColor);
    }
}
.span {
    animation: glow 3s infinite alternate; 
}


.text{
    background-color: var(--textColor);
    width: 70vw;
    margin-top:40px;
    margin-bottom: 40px;
    border-radius:1rem;
}
.textTitle{
    display: flex;
    justify-content: center;
    color: var(--secondaryColor);
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 10px;
}
.textP{
    text-align:start;
    color: var(--secondaryColor);
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 5px;
    padding:0.1rem;
    padding-right: 0.64rem;
    margin-bottom: 20px;
}

.line{
    width: 100%; 
    border:none;
    background: rgba(202, 211, 200, 0.1); 
    height: 8px;
    margin-bottom: 10px;
}

.inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 10px;
    gap: 1rem; 

}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*alinha  itens no inicio do eixo tranversal(horizontal no caso) */
    margin-bottom: 0.1rem;
}

.label{
    font-weight: bold;
    font-size: 2rem;
    color: var(--buttonColor);
    margin-bottom: 0.1rem;
}
.input{
    padding:1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 2rem;
}

.button{
    padding: 1rem;
    margin-top: 40px;
    color: var(--secondaryColor);
    font-weight: bold;
    font-size: 28px;
    background-color: var(--buttonColor);
    color: var(--secondaryColor);
}

/* Media queries para telas de tablets */
@media (min-width: 481px) and (max-width: 1024px) {
    .header {
        padding-top:100px;
        height: 100vh;
    }
    .fullscreen {
        padding-top:50px;
    }

    .shrink {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .title {
        font-size: 4rem;
        text-align: center;
        margin-top: 0px;
    }

    .icon {
        margin-bottom: 40px;
        width: 12rem;
        margin-top: 100px;
    }

    .p {
        font-size: 1.1rem;
        text-align: start;
        padding-right: 0.8rem;
        padding-left: 0.8rem;
        padding-top: 100px;
    }

    .line {
        width: 100%;
        height: 0.5rem; 
        margin-top: 16px;
        margin-bottom: 0;
    }

    .text {
        width: 80vw;
        height: auto;
        padding: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
    }

    .textTitle {
        font-size: 1.1rem;
        margin: 1rem;
    }

    .textP {
        color: var(--secondaryColor);
        font-size: 0.8rem;
        padding: 0rem;
        margin-left: 6px;
        margin-bottom: 10px;
    }

    .p {
        margin-top: 30px;
        margin-bottom:20px;
        font-size: 1rem;
        padding: 0;
    }

    .label{
        font-size: 12px;
    }
    .inputContainer {
        gap: 0rem;
        margin-top: 0.5rem;
        margin-right: 0;
        margin-left:0;
        margin-right:0;
        padding-left:0px;
        padding-right: 0px;
    }

    .inputGroup {
        width: 100%;
    }


    .input {
        width: 100%;
        font-size: 1rem;
        padding: 0.5rem;
    }

    .button {
        width: 80%;
        font-size: 1rem;
        padding: 0.5rem;
        margin-top: 10px;
    }
}

/* Media queries para telas menores (até 480px) */
@media (max-width: 480px) {

    .fullscreen {
        height: 100vh;
        width: 100vw;  
        padding-top: 0;
        padding-bottom: 20px;
    }
    .shrink {
        width: 100%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .title {
        font-size: 3rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .icon {
        margin-bottom: 30px;
        width: 6rem;
    }

    .p {
        font-size: 1rem;
        text-align: center;
        padding-right: 0.8rem;
        padding-left: 0.8rem;
    }

    .line {
        width: 100%;
        height: 0.2rem;
        margin-top: 10px;
    }

    .text {
        width: 90vw;
        height: auto;
        padding: 0.1rem;
        margin-bottom: 0rem;
        margin-top: 20px;
        border-radius: 0.5rem;
    }

    .textTitle {
        font-size: 1rem;
        margin: 1rem;
        margin-bottom: 10px;
    }

    .textP {
        color: var(--secondaryColor);
        font-size:0.39rem;
        padding: 0rem;
        margin-left: 6px;
        margin-bottom: 10px;
    }

    .p {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 9.4px;
        padding: 0;
    }

    .inputContainer {
        margin-top: 10px;
        margin-left:0px;
        padding-top: 0;
        gap: 0px;
    }

    .inputGroup {
        align-items: center;
        width: 90%;
        margin-top: 0px;
        gap: 0px;
    }
    .label {
        font-size: 8px;
    }

    .input {
        width: 80%;
        font-size: 0.8rem;
        padding: 1px;
        margin:0;
    }

    .button {
        margin-right: 20px;
        width: 30%;
        font-size: 8px;
        padding: 6px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}
