.header {
    margin: 0;
    display:grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('../../assets/black-concrete-wall.jpg');
    background-color: rgb(14, 14, 15); 
    background-blend-mode:normal;
    background-size: cover; 
    background-position: center; 
    transition: height 0.5s ease;
    user-select: none;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
}


.headerElements{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var( --primaryColorOpacity);
}
.icon {
    padding-top: 7rem;
    width: 7rem;
    margin-bottom: 1rem;
}
.title {
    color: var(--secondaryColor);
    font-weight: bolder;
    font-size:6.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.text {
    color: var(--secondaryColor);
    background-color: #00000078;
    width: 33vw;
    height: 30vh;
    border-radius: 50%;
    margin-bottom: 2rem;
    margin-top: 0;
    padding: 0.5rem 0 1.4rem 0;
}
.textTitle {  
    display: flex;
    justify-content: center;
    margin: 1rem 0  0 0;
    padding: 0.8rem;
    font-family: sans-serif;
    color: var(--secondaryColor);
    font-weight: bolder;
    font-size: 1.8rem;
    line-height: 2rem;
}

.textP {
    margin-top: 0;
    padding:0 3.9rem 0.5rem 3.9rem;
    text-align: center;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--secondaryColor);
    font-size: 1.1rem;
    line-height: 2rem;
}

.fullscreen {
    height: auto;
    width: auto;
}
.shrink {
    width: auto;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 1rem;

    .text {
        display: none;
    }

    .icon {
        width:7rem;
        padding-top: 38rem;
    }

    .title {
        margin-bottom: 0;
        padding-top: 1rem;
        padding-bottom: 2rem;
        font-size: 7rem;
    }

    .containerInput {
        height: auto;
        border-bottom: none;
        margin-top: 0;
        margin-bottom: 0;
        padding:0;
    }

    .p {
        padding-top: 2rem;
        padding-bottom: 0;
        font-size: 2rem;
    }

    .inputGroups {
        width: 58%;
        height: 26vh;
        gap: 1rem;
        border:1px solid black;
        padding: 2rem 8rem;
        margin-top: 3rem; 
    }

    .label{
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }
    .input {
        border: 2px solid #540303;
        padding: 2rem;
        width:14vw;
        height: 15vh;
        font-size: 30px;
    }

    .button {
        width: 12vw;
        height: 8vh;
        margin-top: 4.6rem;
        margin-left: 1rem;
        font-size: 1.4rem;
    }


    .gif{
        display: none;
    }

    .footerContainer p {
        height: 1rem;
        color: var(--secondaryColor);
        font-size: 2vh;
        font-weight: 2rem;
        padding-top: 1.2rem;
    }
}

.containerInput {
    background-color: var( --inputColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    width: 100vw;
    height: auto;
    border:4px solid   rgba(0, 0, 0, 0.6);
    border-right:none;
    border-left:none;
}
.inputGroups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    width: 50vw;
    gap: 0rem;
}
.inputElement {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    color: var( --tableColor);
    margin: 1rem 0 1rem 0;
    padding:1rem;
    font-weight: 800;
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;

}

.label {
    font-weight: bold;
    font-size: 1.2rem;
    color: var( --buttonColor);
}

.input {
    margin:0.8rem;
    margin-top: 0.2rem;
    border: 3px solid var(--tableColor);
    padding-right: 1rem;
    padding-left: 3rem;
    height:6rem;
    font-size: 1.2rem;
    width: 80%;
    font-size: 2rem;
}

.button{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 26%; 
    height: 4rem; 
    margin-top: 2.6rem;
    margin-left: 1.6rem;
    padding: 10px; 
    background-color: var(--buttonColor);
    color: white;
    border: 4px solid black;
    cursor: pointer; 
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow:
    -1px -1px 0 #000, 
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
    transition: transform 0.3s ease;
}

.button:hover{
    transform: scale(1.4);
}

.footerContainer p {
    color: var(--secondaryColor);
    font-size: 1.2rem;
    font-weight: 100;
    margin:0;
}

 /* Media queries para tablets  */
@media (min-width: 768px) and (max-width: 1024px) {
    .icon {
        padding-top:6rem;
        padding-bottom: 0;
        max-width: 6rem;
        margin-bottom: 1rem;
    }
    .title {
        font-size:4rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
        margin:0;
    }
    .text {
        width: 100%; 
        max-width: 60vw;
        margin:2rem;
        height: 24vh;
        margin-bottom: 1.6rem;
        padding: 1rem;
        padding-bottom: 0;
    }
    .textTitle{
        font-size: 1.3rem;
        padding-bottom: 0.8rem;
        padding-top: 0;
    }
    .textP{
        padding-top: 0;
        padding-right: 1.8rem;
        padding-left: 1.8rem;
        font-size: 0.8rem;
        line-height: 1.6rem;
    }

    .shrink{
        .icon {
            padding-top: 22rem;
            width: 6rem;
            margin-bottom: 0.5rem;
        }
        .title {
            font-size: 4rem;
            padding-top: 1rem;
            padding-bottom: 2rem;
            margin:0;
        }
        .containerInput {
            height: auto;
            margin-bottom: 0;
        }
        .inputGroups {
                max-width: 100%;
                width: 70%;
                height: 30%;
                gap:1rem;
        }
        .label{
            font-size: 1rem;
            padding-top: 0;
        }
        .p{
            font-size: 1.2em;
            line-height: 2.4rem;
            padding-top: 1rem;
        }
        .input {
            border: 2px solid #540303;
            padding: 1.4rem;
            padding-right: 1rem;
            padding-left: 1rem;
            width:16vw;
            height: 8vh;
            font-size: 1rem;
        }
        .button {
            width: 13vw;
            height: 4vh;
            margin-top: 4.3rem;
            font-size: 0.8rem;
            margin-left: 1rem;
        }
        .footerContainer p {
            font-size: 1.2rem;
            font-weight: 2rem;
            margin-top: 1.4rem;
        }
    }

    .containerInput{
        height: 32vh;
        padding-bottom: 4rem;
    }
    .inputGroups {
        gap: 1rem;
        width: 80%; 
        max-width: 40%; 
        height: 10vh;
        margin-top: 0;
        padding-top: 0;
    }
    .p{
        font-size: 1.2rem;
        line-height: 2.4rem;
        margin-bottom: 0;
        padding:0;
        padding-top: 2rem;
    }

    .label{
        padding-top: 3rem;
        padding-bottom: 0rem;
        font-size: 1.2rem;
    }
    .input {
        font-size: 1.4rem;
        padding-left: 1rem;
        padding: 1.5rem;
        width:12rem;
        height: 6rem;
    }
    .button {
        width: 100%;
        height: 52px; 
        margin-top: 5.5rem;
        margin-left: 0.5rem;
        padding: 10px; 
        font-size: 1rem;
    }
    

    .footerContainer p {
        font-size: 1.3rem;
        margin-top: 0;
        padding-top: 1rem;
    }

}


/* Media queries para smartphones*/
@media (max-width:767px){

    .icon {
        padding-top:8rem;
        width:4rem;
    }
    .title {
        margin-bottom: 2.8rem;
        margin-top: 0.5rem;
        font-size:2rem;
    }
    .text {
        width: 74vw;
        height:auto;;
        padding-top: 1.5rem;
        padding:1.4rem;
        border-radius: 50%;
    }
    .textTitle {
        font-size: 0.9rem;
        margin-top: 0.5rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .textP{
        font-size: 0.7rem;
        line-height: 1.5rem;
        padding:1rem;
        padding-top: 1rem;
    }

    .shrink{
        .icon {
            padding-top:18rem;
            margin-bottom: 0.5rem;
            width:4rem;
        }
        .title {
            font-size: 2rem;
            padding-bottom: 1rem;
        }

        .containerInput{
            height: auto;
            padding-bottom: 3rem;
        }
        .p{
            font-size: 0.9rem;
            line-height: 1.6rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 0.9rem;
        }

        .inputGroups {
            margin-top: 0;
            margin-bottom: 0;
            width: 82%;
            height:15vh;
            gap:0.8rem;
        }
        .label{
            font-size: 0.6rem;
            padding-bottom:0.2rem;
            padding-top: 0;
            margin-top: 0;
        }
        .input {
            margin-top: 0;
            padding:0.8rem;
            width: 5rem;
            height: 8rem;
            font-size: 1rem;
        }
        .button {
            width:4rem;
            height:3.2vh;
            border:2px solid black;
            margin-top:1.7rem;
            margin-left:0.5rem;
            font-size: 0.4rem;
        }

        .footerContainer p {
            padding-top: 0.8rem;
            font-size: 0.9rem;
            font-weight: 2rem;
        }
    }

    .containerInput{
        height: auto;
        padding-bottom: 2rem;
    }
    .inputGroups {
        gap: 1rem;
        margin-top: 1.6rem;
        margin-bottom: 2rem;
        width: 70%;
    }
    .p{
        margin-top: 0rem;
        margin-bottom: 0;
        padding:1.8rem;
        padding-bottom: 0.5rem;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    .label{
        font-size: 0.6rem;
    }
    .input {
        margin:0;
        font-size: 0.6rem;
        padding: 1rem;
        width: 27vw;
        height: 8vh;
    }
    .button {
        margin-left: 0.5rem;
        height: 2rem;
        width: 6rem;
        margin-top: 1.7rem;
        font-size: 0.6rem;
    }
    .footerContainer p {
        margin-top: 0;
        padding:0.2rem;
        padding-bottom: 0.8rem;
        font-size: 0.8rem;
    }
}
@media (max-width: 375px) { 
    .icon {
        padding-top: 4rem;
        margin-bottom: 1rem;
    }
    .title {
        font-size:2rem;
        margin:0;
        margin: 1rem 0 1rem 0;
    }
    .text {
        width: 86vw;
        height: 34vh;
        margin:1rem;
    }
    .textTitle {  
        font-size: 0.8rem;
        padding:0;
        margin:0;
    }
    .textP {
        margin:0;
        padding:0.2rem 0.5 1rem 0.5;
        font-size: 0.6rem;
        line-height: 1.5rem;
    }

    .shrink{
        .icon {
            padding-top: 22rem;
        }
        .inputGroups {
            margin:0;
            width: 80%;
            height:20vh;
            gap:0.5rem;
        }
        .input {
            margin-top: 0;
            padding:0.8rem;
            width: 5rem;
            height: 6rem;
            font-size: 0.6rem;
        }
        .button {
            width:4rem;
            height:1.6rem;
            margin-top:1.7rem;
            margin-left:0.8rem;
            font-size: 0.5rem;
        }

        .footerContainer p {
            padding-top: 1rem;
        }
    }
    .containerInput{
        height: auto;
        margin:0;
        padding:0;
    }
    .p{
        font-size: 0.8rem;
        line-height: 1.4rem;
        margin: 2rem 1rem 2rem 1rem;
        padding:0;
    }

    .inputGroups {
        margin:0;
        width: 80%;
        height:15vh;
        gap:0.5rem;
    }
    .label{
        font-size: 0.6rem;
    }
    .input {
        margin-top: 0;
        padding:0.9rem;
        width: 6rem;
        height: 3.5rem;
        font-size: 0.6rem;
    }
    .button {
        width:4rem;
        height:2rem;
        margin-top:1.7rem;
        margin-left:0.5rem;
        font-size: 0.5rem;
    }
    .footerContainer p{
        margin-top: 0.6rem;
    }
    
}
