
.tableContainer {
    background-color: var(--inputColor);
    width: 100vw; 
    height: auto;
    border-bottom: 4px solid var(--secondaryColor);
    padding-bottom: 3rem;
}

.centerResult{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 34%;
    height: 14vh;
    margin-top: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
    font-size: 8rem;
    color:var(--secondaryColor);
    border-collapse: collapse;
    background-color:var(--tableColor);
    color: var(--secondaryColor);
    border: 6px solid var(--buttonColor); 
}


.bmiResultText{
    color: var(--secondaryColor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2.6rem;
    font-style: normal;
    margin:0;
    padding-top: 2.8rem;
    padding-right: 1rem;
    padding-left:2rem;
    white-space: nowrap; 

}

.glowBmiResult{
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding-top:0.8rem;
    padding-left: 1.5rem;
    animation: glow 3s infinite alternate; 
    font-size:3.8rem;
    color: var(--secondaryColor)
}
@keyframes glow {
    0% {
        text-shadow: 0 0 1px var(--secondaryColor), 0 0 6px var(--secondaryColor), 0 0 3px var(--secondaryColor), 0 0 5px var(--secondaryColor);
    }
    10% {
        text-shadow: 0 0 2px var(--secondaryColor), 0 0 4px var(--secondaryColor), 0 0 2px var(--secondaryColor), 0 0 10px var(--secondaryColor);
    }
}



.table {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-family: sans-serif;
    width: 70%;
    height: auto;
    border-collapse: collapse;
    background-color:var(--tableColor);
    color: var(--secondaryColor);
    border:8px solid var(--buttonColor); 
}


.subTitle{
    font-size: 3rem;
    border: 1px solid var(--secondaryColor);
    padding: 1rem;
    text-align: center;
}
.table td {
    border: 1px solid var(--secondaryColor);
    padding: 12px;
    text-align: center;
    font-size: 30px;
}

.table th {
    background-color: rgba(0, 0, 0, 0.1);
}

.table td {
    background-color: rgba(0, 0, 0, 0.05);
}

.highlight {
    background-color: yellow; /* Cor de destaque */
    color: black;
}




/* Media queries para tablets */
@media (min-width: 768px) and (max-width: 1024px) {

    .tableContainer {
        width: 100vw; 
        height: auto;
        padding-top: 0;
    }

    .centerResult{
        width: 50%;
        height: auto;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
    }

    
    .bmiResultText{
        font-size: 1.8rem;
        padding-top:2.6rem;
        padding-left: 2.4rem;
        margin:0;
    }
    
    .glowBmiResult{
        
        padding-top:2rem;
        padding-left: 0.8rem;
        padding-right: 0;
        font-size:2.5rem;
        
    }

    .table {
        margin-top: 3rem;
        margin-bottom: 1rem;
        width: 80%;
        height: 60%;
    }
    .subTitle{
        font-size: 2rem;
        border: 1px solid var(--secondaryColor);
    }
    .table td {
        border: 1px solid var(--secondaryColor);
        padding: 12px;
        text-align: center;
        font-size: 1.5rem;
    } 
}



/* Media queries para smartphones grandes*/
@media (max-width:414px){

    .centerResult {
        width: 50%; 
        height: 11vh;
        padding: 1.5rem 8rem 1.5rem 8rem;
        margin-top:0;
        margin-bottom: 3rem;
    }

    .bmiResultText {
        font-size: 1.4rem; 
        padding-top: 0.5rem;
        padding-left:3.5rem;
        text-align: center; 
        width: 100%; 
        
    }
    .glowBmiResult {
        font-size: 2rem; 
        margin-left: 2rem;
        padding-top:0;
        padding-left: 2rem;
        padding-right: 0;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .table {
        margin-top:3rem;
        margin-bottom: 1rem;
        width: 89%;
        height: auto;
    }
    .subTitle{
        font-size: 1.5rem;
    }
    .table td {
        border: 1px solid var(--secondaryColor);
        padding: 0.5rem;
        text-align: center;
        font-size: 1rem;
    }
}

@media (max-width: 375px) { 
    .centerResult {
        width: 50%; 
        height: 13vh;
        padding: 1.4rem 8rem 1.4rem 8rem;
        margin-top:0;
    }
    .bmiResultText {
        padding-top:0.2rem;
        font-size: 1.5rem; 
    }
    .glowBmiResult {
        padding-top:0;
        font-size: 1.8rem;
        
    }
}

@media (max-width: 360px) { 
    .bmiResultText {
        padding-top: 0.6rem;
        font-size: 1.5rem; 
    }
    .glowBmiResult {
        padding-top:2.5rem;
        font-size: 1.8rem;
        
    }
}