*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}



/* Estilo básico para garantir que o conteúdo preencha a tela em landscape */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transform: rotate(0deg);
    overflow-x: hidden;
}
 /* criando variaveis de cores */
:root{
    --primaryColor:#343638;
    --secondaryColor: #CAD3C8;
    --sencondaryColorOpacity:rgba(255, 255, 255, 0.285);
    --textBackGroundColor:#0000;
    --inputColor:#e4e4e4;
    --tableColor:#14181c;
    --tableBackgrounColor: rgb(160, 160, 160);
    --buttonColor: rgb(84, 1, 1);

}

/* Quando em modo retrato, manter o conteúdo em vertical e mostrar uma mensagem */
@media screen and (orientation: portrait) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        transform: rotate(0deg); /* Garante que a rotação não seja aplicada */

    }
}

/* Quando em modo paisagem, mostrar uma mensagem e congelar a tela em portrait */
@media screen and (orientation: landscape) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: relative;
        transform: rotate(0deg); /* Garante que a rotação não seja aplicada */
        margin: 0;
        background-color: black;
    }
}